body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    /* background-image: url(BG.jpg); */
}

.container {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 20px; /* Space between the boxes */
    padding: 20px;
    background-image: url(BG.jpg);
    border-radius: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(197, 96, 2, 1); /* Background color for the box */
    padding: 20px;
    border-radius: 20px; /* Border radius for the box */
}

.photo {
    border-radius: 40px; /* Border radius for the image */
    width: 100%; /* Adjust based on your requirement */
    max-width: 300px; /* Adjust based on your requirement */
}

.text-box {
    margin-top: 10px;
    padding: 10px;
    background-color: white; /* Background color for the text box */
    border-radius: 10px; /* Border radius for the text box */
    text-align: center;
    width: 100%; /* Adjust based on your requirement */
    max-width: 300px; /* Adjust based on your requirement */
}

.header {
    text-align: center;
    background-color: red;
    color: rgb(1, 1, 1);
    padding: 20px;
    font-size: 70px;
    border-radius: 30px;
}
